.navbar {
  color: var(--primary-text-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 15px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
.navbar__menu-icon {
  z-index: 200;
}

.navbar__links {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 45px;
  background-color: rgba(0, 0, 0, 0.84);
}

.navbar .logo {
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
}

.navbar__link-item a {
  color: var(--primary-text-color);
}

.navbar__link-item a:hover {
  color: var(--primary-text-color);
}
